h2 {
  letter-spacing: 20px;
}

#user-Key {
  letter-spacing: 20px;
}

.jumbotron {
  background-color: aquamarine;
}
.container {
  width: 80%;
  border: 2px solid gray;
  background-color: aliceblue;
}

.height {
  height: 300px;
  text-align: center;
  padding: 60px 0;
}
